.page-light .feature{
    width: 100%;
    background-color: #f8f8f9;
    padding: 100px 0;
}
.page-dark .feature{
    width: 100%;
    background-color: #17161a;
    padding: 100px 0;
}
.feature{
    width: 100%;
    background-color: #f8f8f9;
    padding: 100px 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.colortext{
    color: #13c3c9;
}
.section-title{
    width: 100%;
    text-align: center;
}
.section-title h3{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-top: 35px;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
}

.page-dark .section-title h3{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-top: 35px;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.page-light .section-title h2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 30px;
}

.page-dark .section-title h2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 30px;
}
.section-title h2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: #333;
    font-size: 30px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 65px;
}
.feature-items{
    width: 100%; /*родительский элемент*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-dark .feature-member{
    width: 28%;
    padding: 20px;
    box-shadow: 0px 5px 30px 0px rgb(0, 0, 0);
    margin-top: 35px;
    border-radius: 3px;
}

.feature-member{
    width: 28%;
    padding: 20px;
    box-shadow: 0px 5px 30px 0px rgb(0,0,0,0.1);
    margin-top: 35px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.feature-member img{
    width: 100%;
    border-radius: 3px;
}

.themebutton{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f8f9;
    outline: none;
    border-radius: 3px;
    text-align: center;
    width: 120px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}
.themebutton:hover{
    border: 2px solid crimson;
    background-color: crimson
}
